table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 16px auto;
}

td, th {
  text-align: left;
  padding: 8px;
}
th{
  border: 1px solid #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}